@import "base";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

body {
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: $text-color;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-weight: 600;
  font-size: 1.5em;
  padding-bottom: 15px;
}
h2 {
  font-weight: normal;
  font-size: 1.3em;
  padding-bottom: 13px;
}
h3 {
  font-weight: normal;
  font-size: 1.1em;
  padding-bottom: 10px;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $base-color;
  text-decoration: none;
}

a:hover {
  color: #2A7BB3;
}

.clear {
  clear: both;
}

.container {
  width: 80%;
  max-width: 980px;
  margin: auto;
}

.italic { font-style: italic; }
.bold { font-weight: bold; }
